body {
  background-color: dimgray;}
.btn {
  text-align: right;
}
.intro {
  text-align: center;
  font-size: xx-large;
  color: cyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name {
  text-align: center;
}
.sports {
  text-align: center;
}
.projects {
  text-align: center;
}
.contact {
  text-align: right;
  margin-top: 200px;
  float: right;
  padding-right: 100px;
  
}
.end {
  text-align: center;
  border-width: 5px;
  border-style: dotted;
  border-color: cadetblue; 
}